/* header Start */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .feature,
    .experience-container
    {
        flex-direction: column;
    }
    #ex-badge{
        margin-top: -105px;
        margin-left: 105px;
    }
    .feature-image-container,
    .fact-cards,
    .sponsors-logo
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-cards,
    .sponsors-logo
    {
        justify-items: center;
        gap: 25px;
    }
    .fact-card
    {
        margin-top: 0;
    }
    /*  */
}
/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .feature{
        flex-direction: column;
    }
    .feature-content{
        margin-left: 0;
        margin-top: 30px;
    }
    .sponsors-logo,
    .fact-cards
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}