@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
    a{
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    button {
        cursor: pointer;
    }
    /* shared styles */
    .flex{
        display: flex;
    }
    .text-primary{
        color: #ff9000;
    }
    .dark-1{
        color: #131313;
    }
    .dark-2{
        color: #424242;
    }
    .dark-3{
        color: #727272;
    }
    .btn{
        display: inline-block;
        padding: 20px 25px;
        border-radius: 8px;
        font-size: 1.25rem;
        font-weight: 600;
        background-color: #ff9000;
        color: #fff;
        border: none;
        transition: background-color 0.3s;
    }
    .cp{
        padding: 80px 0;
    }
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
    .section-title{
        font-size: 2.8rem;
        font-weight: 700;
    }
    .text-center{
        text-align: center;
    }
    /* header start */
    header{
        background-color: rgba(255, 144, 14, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    /* navbar start */
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }
    .brand{
        font-size: 2.8rem;
        font-weight: 700;
    }
    .nav-links{}
    .nav-links .nav-item{
        margin-right: 60px;
    }
    .nav-links .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
    }
    .nav-links .nav-item .nav-link:hover{
        color: #f00;
    }
    /* hero start */
    .hero{
        padding: 50px 0;
    }
    .hero-content{
        max-width: 861px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-title{
        font-size: 4rem;
        font-weight: 700;
    }
    .hero-text{
        margin: 32px 0;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
    }
    /* header end */
    .feature{
        align-items: center;
    }
    .feature-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .feature-image-container img{
        border-radius: 8px;
    }
    .feature-content{
        max-width: 537px;
        margin-left: 73px;
    }
    #quick-list{
        font-weight: 500;
    }
    .feature-text{
        margin: 24px 0 32px;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
    }
    /* experience start */
    .experience-container{
        gap: 140px;
    }
    .experience-container>div{
        padding: 50px 0;
    }
    .experience-title{
        max-width: 468px;
        border-left: 5px solid #ff9000;
        padding-left: 21px;
        margin-bottom: 24px;
    }
    .experience-text{
        max-width: 588px;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
    }
    .experience-card{
        max-width: 586px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 30px;
        margin-top: 20px;
    }
    .experience-card-title{
        font-size: 1.25rem;
        font-weight: 600;
    }
    .experience-card-text{
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
    }
    #ex-badge{
        margin-left: -100px;
        margin-top: -100px;
    }
    .ex-btn{
        max-width: 258px;
        padding: 23px 21px;

    }
    #year{
        font-size: 4.06rem;
        font-weight: 700;
    }
    #ex{
        font-size: 1.56rem;
        font-weight: 500;
    }
    /* experience end */
    /* fact start */
    .fact-text{
        max-width: 542px;
        margin-top: 24px;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
    }
    .fact-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .fact-card{
        margin-top: 100px;
        width: 241px;
        height: 241px;
        padding: 50px 35px;
        border-radius: 8px;
        border: 1px solid #FF900E;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .fact-icon{
        margin: 0 auto;
    }
    .fact-number{
        font-size: 2.8rem;
        font-weight: 600;
        color: #424242;
        margin: 10px 0;
    }
    .fact-name{
        font-size: 1.25rem;
        font-weight: 500;
        color: #727272;
    }
    /* fact end */
    /* sponsor start */
    .sponsors{}
    .sponsor-info{
        max-width: 542px;
        margin: 0 auto;
    }
    .sponsors-text{
        margin: 25px 0;
    }
    .sponsors-logo{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
    .sponsors-logo img{
        filter: grayscale(100%);
        cursor: pointer;
        transition: .33s linear all;
    }
    .sponsors-logo img:hover{
        filter: grayscale(0%);
    }
    /* sponsor end */